@import vars

*
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  &:before, &:after
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box

::placeholder
  color: #666

::selection
  background-color: $acc-orange
  color: #fff

body
  font-size: 16px
  min-width: 320px
  position: relative
  line-height: 1.425
  font-family: $default-font
  overflow-x: hidden
  color: $text
  input, textarea
    border: #666 1px solid
    outline: none
    &:focus:required:invalid
      border-color: red
    &:required:valid
      border-color: green

.img-responsive
  display: block
  max-width: 100%
  height: auto

.text-center
  text-align: center

b, strong
  font-weight: bold

a:hover, a:active, a:focus
  color: inherit
  text-decoration: none

a
  color: $acc-orange
  text-decoration: none
  +mt(.2s)

a, li, button
  outline: none!important

ul
  list-style-type: none
  padding: 0
  margin-bottom: 0
li
  position: relative
  padding-left: 14px
  &:before
    content: ''
    position: absolute
    width: 6px
    height: 6px
    background-color: $acc-orange
    border-radius: 50%
    left: 0
    top: 8px

nav
  li
    padding-left: 0
    &:before
      display: none


.hidden
  display: none!important
// ======= END TEMPLATE STYLES =======
.vk-link
  display: inline-flex
  justify-content: center
  align-items: center
  width: 35px
  height: 35px
  border-radius: 50%
  background-color: #006599
  .svg
    width: 20px
    height: auto
    fill: #fff
    +mt(.2s)
  &:hover
    background-color: $acc-orange
    .svg
      fill: #000

.btn
  display: inline-block
  white-space: nowrap
  line-height: 1
  padding: 16px 44px 14px
  border: 1px solid $text
  text-align: center
  border-radius: 30px
  color: $text
  +mt(.3s)
  cursor: pointer
  &:hover
    background-color: $acc-orange
    color: #fff
    border-color: $acc-orange
  &:active
    background-color: #e08b18
    color: #fff
    border-color: #e08b18


.btn-orange
  background-color: $acc-orange
  border-color: $acc-orange
  color: #fff
  &:hover, &:active
    background-color: #e08b18
    color: #fff
    border-color: #e08b18



.owl-carousel
  position: relative
  .owl-nav
    position: absolute
    width: 100%
    left: 0
    top: calc(50% - 20px)
    button.owl-prev, button.owl-next
      width: 40px
      height: 40px
      border-radius: 50%
      cursor: pointer
      +mt(.3s)
      background-image: url('../img/icons/arrow-text.svg')
      background-size: 16px 16px
      background-position: center center
      background-repeat: no-repeat
      position: absolute
      background-color: #eee
      &:hover
        background-color: $acc-orange
        background-image: url('../img/icons/arrow-white.svg')
    button.owl-next
      transform: rotate(180deg)
      right: 0

.section-title
  font-size: 50px
  line-height: 1
  margin-bottom: 0

form
  h3
    font-size: 30px
    line-height: 1.1
    margin-bottom: 5px
  label
    display: block
    margin-bottom: 20px
    position: relative
    span
      display: block
      line-height: 1.5
    &.has-error
      span
        color: $acc-red
    .help-block
      position: absolute
      right: 0
      font-size: 12px
  input, textarea
    width: 100%
    line-height: 1
    background-color: #fff
    padding: 10px 20px 10px
    border: none
    border-radius: 22px
    color: $text
    &::placeholder
      color: rgba($text, .63)
    &.error
      color: $acc-red
      background-color: #f2dfe1
      &::placeholder
        color: rgba($acc-red, .61)!important


.label-checkbox
  display: flex
  justify-content: space-between
  align-items: center
  letter-spacing: 0.02em
  line-height: 1
  span
    width: calc(100% - 38px)
    display: inline-block
  a
    color: #68c7ec
    text-decoration: underline
    &:hover
      text-decoration: none

.jq-checkbox
  width: 26px
  height: 26px
  border-radius: 50%
  background: #fff
  border: none!important
  box-shadow: none
  margin-right: 0
  &.checked
    background-color: $acc-orange


.jq-checkbox.checked .jq-checkbox__div
  width: 13px
  height: 6px
  margin: 8px 0 0 7px
  border-bottom: 1px solid #fff
  border-left: 1px solid #fff
  transform: rotate(-50deg)





