@import vars


/*==========  Desktop First  ==========*/

@media (max-width: 1700px)

  .similars-slider
    .owl-nav
      button.owl-prev
        left: 15px
      button.owl-next
        right: 15px

  .intro-slide
    padding-left: 80px
    padding-right: 80px

  .intro-slider
    .owl-nav
      button.owl-prev
        left: 0
      button.owl-next
        right: 0

@media (max-width: 1500px)

  .order-form
    .col-xl-9
      padding-right: 30px

  .product
    &-left
      width: 700px
    &-right
      width: calc(100% - 720px)
    &-slide
      padding-right: 10px
    &-buttons
      .btn
        padding-left: 15px
        padding-right: 15px

  .product-slider
    width: calc(100% - 190px)
    &-nav
      width: 180px

  .s-nopage
    padding: 30px 15px 50px
    h1
      font-size: 260px
      line-height: 220px

  .reviews-slider
    .slick-arrow
      top: 0
    .slick-prev
      left: -100px
    .slick-next
      right: -100px

  .container
    padding-left: 15px
    padding-right: 15px

  .s-intro
    padding-top: 75px

  .intro-slider
    padding-bottom: 80px

  .intro-slide
    h1
      font-size: 48px
    &-desc
      font-size: 20px
      margin-bottom: 35px

  .intro-decor
    &-1
      width: 450px
      height: 450px
      left: -170px
    &-2
      width: 300px
      height: 300px
      right: 400px
    &-3
      width: 600px
      height: 600px
    &-4
      width: 200px
      height: 200px
      right: 366px

  .main-mnu
    font-size: 16px
    li
      padding: 8px 10px

  .main-mnu>ul>.droppy__parent>a
    padding: 8px 30px 8px 10px
    border-radius: 15px
    &:before
      width: 9px
      height: 9px
      right: 13px

  .head-line
    .logo
      max-width: 150px

@media (max-width: 1300px)

  .order-form
    padding-bottom: 0
    .col-xl-9
      padding-right: 8px
    .form-labels-wrap
      padding-right: 0
    &-bottom
      padding-bottom: 0
    &-desc
      padding: 25px 0

  .reviews-nav-slider
    width: 1140px

  .main-mnu
    display: none

  .hamburger
    display: block

// ≥1200px
+media-breakpoint-down(lg)

  .contacts-wrap
    top: 0
    width: 100%
    margin-bottom: 20px
    padding: 20px 30px
    font-size: 14px


  .p-reviews
    padding-bottom: 50px

  .reviews-items-wrap
    height: 500px
    margin-bottom: 50px

  .reviews-form
    margin-left: 0
    width: auto

  .num-item
    padding-left: 10px
    padding-right: 15px
    &-num
      font-size: 36px
    &-title
      font-size: 16px
    &:before
      width: 40px
      height: 40px

  .about-img
    width: 100%

  .s-stocks
    padding-bottom: 50px

  .stock-item
    font-size: 14px

  .s-delivery
    padding-bottom: 30px
    .hide-on-mobile
      display: none

  .s-favorites
    padding-bottom: 50px

  .favorites-wrap
    grid-template-columns: repeat(4, 1fr)

  .s-order
    padding-bottom: 50px

  .order-form
    padding-right: 0
    padding-bottom: 0

  .order-total
    &-buttons
      .btn
        width: 340px
        margin-left: auto
        margin-right: auto
        display: block


  .product-wrap
    flex-direction: column

  .product
    &-left
      width: 100%
      margin-bottom: 40px
    &-right
      width: 100%

  .category-wrapper
    grid-template-columns: repeat(3, 1fr)

  .page-decor-4
    display: none

  .page-title
    font-size: 36px
    margin-bottom: 35px

  .footer-wrap
    flex-direction: column-reverse
    margin-bottom: 20px

  .footer-right
    width: 100%
    display: flex
    justify-content: space-between
    align-items: center
    margin-bottom: 40px
    padding-left: 0
    .logo
      margin-bottom: 0

  .footer-left
    width: 100%
    justify-content: space-between

  .foot-item
    margin-right: 0
    width: calc(33.3333% - 15px)

  .dev-block
    margin-left: 0

  .s-reviews
    padding: 50px 0
    .section-title
      margin-bottom: 35px

  .reviews-nav-slider
    width: 100%

  .reviews-slider
    width: 100%
    padding: 0 75px
    .slick-prev
      left: 0
    .slick-next
      right: 0
    .slick-dots
      margin-top: 30px

  .label-checkbox
    font-size: 12px

  .advantages-form
    padding-left: 50px
    &:before
      display: none

  .adv-item
    padding: 15px
    .svg
      width: 40px
    span
      width: calc(100% - 55px)
      font-size: 14px

  .section-title
    font-size: 36px

  .s-catalog
    padding-bottom: 150px

  .cat-item
    flex-direction: column-reverse
    &>div
      width: 100%
    &-right
      margin-bottom: 20px
      img
        margin: 0 auto

  .s-intro
    overflow: hidden

  .intro-slide
    padding-right: 20px
    h1
      font-size: 36px

  .intro-decor
    &-2
      width: 200px
      height: 200px
      right: 300px
      bottom: 50px
    &-3
      width: 400px
      height: 400px
      right: -30px
    &-4
      right: 266px

// ≥992px
+media-breakpoint-down(md)

  .contacts-wrap
    flex-direction: column
    align-items: flex-start
    font-size: 18px
    padding: 30px 60px
  .con-item
    margin-bottom: 25px
    &:last-child
      margin-bottom: 0

  #map
    height: 400px

  .s-installment
    padding-bottom: 50px
    .img-responsive
      margin: 0 auto 30px

  .about-img
    margin: 30px 0

  .serts-wrap
    grid-template-columns: repeat(2, 1fr)

  .stocks-wrap
    grid-template-columns: repeat(2, 1fr)

  .section-form
    width: 500px
    .form-labels-wrap
      flex-direction: column
      padding: 0 50px
      label
        width: 100%
    .btn
      width: 100%
      margin-top: 20px
      &:before
        display: none

  .favorites-wrap
    grid-template-columns: repeat(3, 1fr)

  .cart-item
    &-info
      flex-direction: column
      &>div
        width: 100%
      .left
        margin-bottom: 10px
    &-content
      padding-left: 20px

  .product-item
    padding-left: 20px
    padding-right: 20px
    &-title
      font-size: 18px
    &-img
      padding-bottom: 15px
      &:after
        width: 140px
    .label
      font-size: 12px

  .p-catalog
    padding-bottom: 80px

  .foot-item
    padding-right: 0

  .footer-bottom-line
    flex-wrap: wrap

  .dev-block
    order: 2
    width: 100%
    text-align: center
    margin-top: 20px

  .s-advantages
    padding-top: 35px
    padding-bottom: 50px
    &:before
      height: 50px
      top: -50px

  .advantages-wrap
    grid-template-columns: repeat(1, 1fr)

  .advantages-left
    margin-bottom: 30px

  .advantages-form
    padding-left: 0


  .s-catalog
    .section-title
      margin-bottom: 35px

  .cat-item
    &-title
      font-size: 24px
      padding-bottom: 10px
      margin-bottom: 20px
    &-desc
      margin-bottom: 30px

  .intro-slide
    padding-left: 55px
    &-right
      padding-left: 0
    h1
      font-size: 24px
    &-desc
      font-size: 16px
      margin-bottom: 25px

  .top-contacts
    display: none

  .shop-links-wrapper
    margin-left: auto
    margin-right: 20px

  .shop-link
    font-size: 12px

  .shop-link-cart .shop-link-value
    padding: 5px 6px 3px 5px

  .shop-link-title
    margin-bottom: 7px

// ≥768px
+media-breakpoint-down(sm)

  .reviews-form
    .form-labels-wrap
      padding-right: 0

  .about-img
    height: 300px

  .nums-items-wrap
    display: grid
    grid-template-columns: repeat(3, 1fr)
    grid-gap: 40px 20px

  .section-form
    width: 400px

  .favorites-wrap
    grid-template-columns: repeat(2, 1fr)

  .order-form
    .form-labels-wrap
      padding-bottom: 0
      label
        margin-bottom: 20px
    &-top
      .form-labels-wrap
        flex-direction: column
        align-items: flex-start
      label
        width: 100%!important
        margin-left: 0!important
        margin-right: 0!important
    &-middle
      .form-labels-wrap
        flex-wrap: wrap
        justify-content: space-between
        label
          margin-right: 0
          width: calc(50% - 15px)
    &-bottom
      flex-direction: column
      .label-checkbox
        width: 100%

  .cart-item
    flex-direction: column
    align-items: center
    padding: 20px 30px
    &-content
      width: 100%
      padding-left: 0
    &-price
      position: relative
      right: 0
      bottom: 0
      //text-align: left
      width: 100%
      margin-top: 20px

  .product-slider-wrap
    flex-direction: column

  .product-slider
    width: 100%
    &-nav
      width: 100%
      .slick-arrow
        z-index: 2
        &.slick-prev
          left: 15px
          top: 50%
          transform: translateY(-50%)
        &.slick-next
          right: 15px
          bottom: auto
          top: 50%
          left: auto
          transform: translateY(-50%) rotate(180deg)

  .product-nav
    margin: 0 5px

  .filters-line
    font-size: 14px
    .span
      display: none

  .category-wrapper
    grid-template-columns: repeat(2, 1fr)

  .page-decor
    transform: scale(.7)

  .breadcrumbs
    margin-bottom: 10px

  .s-text
    padding-bottom: 50px

  .page-title
    font-size: 28px

  .nopage-decor-1
    width: 300px
    height: 300px
    left: -230px
  .nopage-decor-2
    width: 300px
    height: 300px
    right: -195px
    bottom: -190px


  .s-nopage
    h1
      font-size: 200px
      line-height: 180px

  .footer-right
    display: none

  .footer-left
    flex-wrap: wrap
  .footer-wrap
    margin-bottom: 0

  .foot-item
    width: calc(50% - 10px)
    margin-bottom: 20px


  .footer-bottom-line
    .right
      width: 100%
      display: flex
      justify-content: space-between
      margin-bottom: 10px

  .copyright
    width: 50%
    order: 2

  .dev-block
    width: 50%
    text-align: right
    margin-top: 0

  .reviews-slider
    padding: 0

  .catalog-wrap
    grid-row-gap: 70px

  .s-intro
    padding-top: 25px
    padding-bottom: 50px

  .intro-slider
    padding-bottom: 60px
    .owl-dots
      text-align: center
      width: 100%
      button.owl-dot
        margin: 0 7px

  .intro-decor
    &-4
      display: none
    &-2
      display: none

  .intro-slide
    padding: 0
    flex-direction: column
    text-align: center
    .img-responsive
      margin: 0 auto
    &>div
      width: 100%
    &-left
      margin-bottom: 50px
    h1
      font-size: 36px
    &-desc
      font-size: 20px


// ≥480px
+media-breakpoint-down(xs)

  .contacts-wrap
    padding: 30px
    font-size: 16px



  .reviews-form
    .help-block
      display: none

  .review-item
    &-img
      flex: 0 0 80px
      width: 80px
      height: 80px
    &-content
      padding-left: 15px

  .reviews-form
    padding: 25px 15px
    h3
      margin-bottom: 30px
    .form-labels-wrap
      flex-direction: column
      label
        width: 100%

  .serts-wrap
    grid-gap: 10px

  .s-about
    h3
      font-size: 20px
      margin-bottom: 8px

  .nums-items-wrap
    grid-template-columns: repeat(2, 1fr)

  .stocks-wrap
    grid-template-columns: repeat(1, 1fr)

  .section-form
    width: 100%

  .delivery-images
    img
      display: block
      margin: 0 auto 20px

  .favorites-wrap
    grid-template-columns: repeat(1, 1fr)

  .order-form
    &-bottom
      padding-top: 25px

  .s-cart
    padding-bottom: 50px

  .order-total
    &-buttons
      .btn
        width: 300px
        padding-left: 15px
        padding-right: 15px

  .similars
    h3
      font-size: 24px
      margin-bottom: 5px

  .product-left
    margin-bottom: 20px

  .product-labels
    .label
      font-size: 12px
      padding: 7px 12px 6px

  .product-slide
    height: 300px
    padding: 20px 10px 10px

  .product-nav
    padding: 0
    height: 100px!important
    background-size: 80px auto

  .product-bottomline
    flex-direction: column
    align-items: center
    margin-top: 15px

  .product-price
    margin-bottom: 15px

  .product-item
    padding-left: 15px
    padding-right: 15px
    .svg
      right: 10px
    &-labels
      left: 10px
    &-img
      height: 150px
    &-title
      font-size: 16px
    &-prices
      font-size: 18px
      .old
        font-size: 14px

  .breadcrumbs
    padding-top: 25px
    margin-bottom: 5px

  .page-title
    font-size: 24px
    margin-bottom: 25px

  .popup-form
    .form-header
      font-size: 24px

  .foot-item
    width: 100%
    text-align: center
    line-height: 1.7
    &-title
      border-bottom:  none
      position: relative
      &:after
        content: ''
        position: absolute
        width: 100px
        height: 1px
        background-color: $text
        bottom: 0
        left: calc(50% - 50px)


  .footer-bottom-line
    .right
      flex-direction: column
      text-align: center
      a
        margin-right: 0
        margin-bottom: 10px

  .copyright, .dev-block
    width: 100%
    text-align: center

  .copyright
    margin-bottom: 10px

  .reviews-slider .slick-dots button
    margin: 0 7px

  form
    h3
      font-size: 24px

  .advantages-items-wrap
    grid-template-columns: repeat(1, 1fr)
    .svg
      width: 60px
    span
      font-size: 16px

  .section-title
    font-size: 28px

  .cat-item
    &-left
      padding-right: 0
    &-title
      font-size: 20px
    &-desc
      font-size: 14px
    .btn
      font-size: 14px
      padding: 14px 14px 12px
      width: 100%

  .intro-slider
    padding-bottom: 30px

  .intro-slide
    h1
      font-size: 24px
    &-desc
      font-size: 16px

  .intro-decor
    &-1
      width: 300px
      height: 300px
    &-3
      width: 350px
      height: 350px
    &-4
      display: block
      top: auto
      bottom: 150px
      right: 100px

  .head-line
    padding: 10px 0
    .logo
      max-width: 120px

  .shop-links-wrapper
    margin-right: 0

  .shop-link
    &-title
      display: none
    &-value
      position: relative
    .svg
      height: 24px
      margin-right: 8px
    &-cart
      margin-left: 15px

@media (max-width: 410px)

  .contacts-wrap
    padding: 15px
    font-size: 14px

  .con-item
    .svg
      width: 28px
    span
      width: calc(100% - 28px)

  

  .reviews-items-wrap
    height: 400px

  .review-item
    margin-bottom: 40px
    &-name
      font-size: 18px
    &-date
      font-size: 14px
    &-desc
      font-size: 14px

  .about-img
    height: 240px
    margin-top: 15px

  .num-item
    &-num
      font-size: 28px

  .section-form
    .form-labels-wrap
      padding: 0

  .order-form
    input
      padding-left: 15px
      padding-right: 15px
    .radio-wrap
      justify-content: space-between
      label
        margin-right: 0
        width: calc(50% - 10px)
        span
          padding-left: 10px
    &-middle
      .form-labels-wrap
        label
          width: calc(50% - 10px)
    &-bottom
      .label-checkbox
        span
          font-size: 12px

  .cart-item
    font-size: 14px
    &-title
      font-size: 18px
    &-price
      .current
        font-size: 22px
    &-del
      right: 10px
      top: 10px

  .order-total
    &-buttons
      .btn
        width: 100%
        padding-left: 15px
        padding-right: 15px
        font-size: 14px

  .product-slide
    height: 260px

  .product-nav
    height: 80px!important
    background-size: 60px auto

  .product-block
    font-size: 14px
    h3
      padding-left: 0

  .product-char
    padding-left: 10px
    padding-right: 10px

  .product-color
    padding: 0

  .product-color
    .jq-selectbox__select
      font-size: 14px
      padding-left: 28px
      padding-right: 30px
      border-radius: 7px
      margin-left: 5px
      &:before
        width: 12px
        height: 12px

  .product-color .jq-selectbox li
    font-size: 13px

  .product-serv
    padding: 0
    span
      position: relative
      top: 2px

  .product-buttons
    flex-wrap: wrap
    .btn
      margin-left: 0
      width: calc(100% - 51px)
    .btn-orange
      width: 100%
      order: 3
      margin-top: 15px



  .filters-line
    font-size: 12px
    input, span
      padding: 7px 12px 5px
    input
      padding-top: 4px
      padding-bottom: 3px

  .product-item
    padding-left: 20px
    padding-right: 20px
    .svg
      right: 20px
    &-labels
      left: 20px
    &-img
      height: 220px

  .category-wrapper
    grid-template-columns: repeat(1, 1fr)

  .breadcrumbs
    padding-top: 10px

  .s-nopage
    padding: 50px 15px
    font-size: 14px
    h1
      font-size: 140px
      line-height: 120px

  .nopage-subtitle
    font-size: 18px

  .popup-form
    padding-left: 15px
    padding-right: 15px
    .form-labels-wrap
      width: 100%
    .form-header
      padding-left: 15px
      width: calc(100% + 30px)
      left: -15px
    .btn-wrap
      text-align: center

  .review-slide
    font-size: 14px

  .advantages-form
    text-align: center
    .form-labels-wrap
      width: 100%
      margin-bottom: 20px
    .label-checkbox
      text-align: left
    label
      span
        text-align: left

  .s-catalog
    padding: 20px 0 75px

  .catalog-wrap
    grid-template-columns: repeat(1, 1fr)

  .intro-decor
    &-3
      width: 300px
      height: 300px
    &-4
      width: 150px
      height: 150px

  .mobile-contacts
    .phone
      font-size: 22px
    .recall
      font-size: 16px

  .mm-logo
    width: 150px

  .head-line
    flex-wrap: wrap

  .shop-links-wrapper
    order: 2
    width: 100%
    justify-content: flex-end
    position: relative
    top: -8px


  .shop-link
    font-size: 10px
    .svg
      height: 20px
      margin-right: 6px
    &-cart
      margin-left: 10px

  .hamburger
    padding: 5px 0 5px 5px
    top: 0


/*==========  Mobile First  ==========*/

// ≤480px
+media-breakpoint-up(sm)

// ≤768px
+media-breakpoint-up(md)

// ≤992px
+media-breakpoint-up(lg)

// ≤1200px
+media-breakpoint-up(xl)
