@import vars


/*==========  Desktop First  ==========*/

@media (max-width: 1700px)
  .intro-slide
    padding-left: 80px
    padding-right: 80px

  .intro-slider
    .owl-nav
      button.owl-prev
        left: 0
      button.owl-next
        right: 0

@media (max-width: 1500px)

  .s-nopage
    padding: 30px 15px 50px
    h1
      font-size: 260px
      line-height: 220px

  .reviews-slider
    .slick-arrow
      top: 0
    .slick-prev
      left: -100px
    .slick-next
      right: -100px

  .container
    padding-left: 15px
    padding-right: 15px

  .s-intro
    padding-top: 75px

  .intro-slider
    padding-bottom: 80px

  .intro-slide
    h1
      font-size: 48px
    &-desc
      font-size: 20px
      margin-bottom: 35px

  .intro-decor
    &-1
      width: 450px
      height: 450px
      left: -170px
    &-2
      width: 300px
      height: 300px
      right: 400px
    &-3
      width: 600px
      height: 600px
    &-4
      width: 200px
      height: 200px
      right: 366px

  .main-mnu
    font-size: 16px
    li
      padding: 8px 10px

  .main-mnu>ul>.droppy__parent>a
    padding: 8px 30px 8px 10px
    border-radius: 15px
    &:before
      width: 9px
      height: 9px
      right: 13px

  .head-line
    .logo
      max-width: 150px

@media (max-width: 1300px)
  .reviews-nav-slider
    width: 1140px

  .main-mnu
    display: none

  .hamburger
    display: block

// ≥1200px
+media-breakpoint-down(lg)

  .page-decor-4
    display: none

  .page-title
    font-size: 36px
    margin-bottom: 35px

  .footer-wrap
    flex-direction: column-reverse
    margin-bottom: 20px

  .footer-right
    width: 100%
    display: flex
    justify-content: space-between
    align-items: center
    margin-bottom: 40px
    padding-left: 0
    .logo
      margin-bottom: 0

  .footer-left
    width: 100%
    justify-content: space-between

  .foot-item
    margin-right: 0
    width: calc(33.3333% - 15px)

  .dev-block
    margin-left: 0

  .s-reviews
    padding: 50px 0
    .section-title
      margin-bottom: 35px

  .reviews-nav-slider
    width: 100%

  .reviews-slider
    width: 100%
    padding: 0 75px
    .slick-prev
      left: 0
    .slick-next
      right: 0
    .slick-dots
      margin-top: 30px

  .label-checkbox
    font-size: 12px

  .advantages-form
    padding-left: 50px
    &:before
      display: none

  .adv-item
    padding: 15px
    .svg
      width: 40px
    span
      width: calc(100% - 55px)
      font-size: 14px

  .section-title
    font-size: 36px

  .s-catalog
    padding-bottom: 150px

  .cat-item
    flex-direction: column-reverse
    &>div
      width: 100%
    &-right
      margin-bottom: 20px
      img
        margin: 0 auto

  .s-intro
    overflow: hidden

  .intro-slide
    padding-right: 20px
    h1
      font-size: 36px

  .intro-decor
    &-2
      width: 200px
      height: 200px
      right: 300px
      bottom: 50px
    &-3
      width: 400px
      height: 400px
      right: -30px
    &-4
      right: 266px

// ≥992px
+media-breakpoint-down(md)

  .foot-item
    padding-right: 0

  .footer-bottom-line
    flex-wrap: wrap

  .dev-block
    order: 2
    width: 100%
    text-align: center
    margin-top: 20px

  .s-advantages
    padding-top: 35px
    padding-bottom: 50px
    &:before
      height: 50px
      top: -50px

  .advantages-wrap
    grid-template-columns: repeat(1, 1fr)

  .advantages-left
    margin-bottom: 30px

  .advantages-form
    padding-left: 0


  .s-catalog
    .section-title
      margin-bottom: 35px

  .cat-item
    &-title
      font-size: 24px
      padding-bottom: 10px
      margin-bottom: 20px
    &-desc
      margin-bottom: 30px

  .intro-slide
    padding-left: 55px
    &-right
      padding-left: 0
    h1
      font-size: 24px
    &-desc
      font-size: 16px
      margin-bottom: 25px

  .top-contacts
    display: none

  .shop-links-wrapper
    margin-left: auto
    margin-right: 20px

  .shop-link
    font-size: 12px

  .shop-link-cart .shop-link-value
    padding: 5px 6px 3px 5px

  .shop-link-title
    margin-bottom: 7px

// ≥768px
+media-breakpoint-down(sm)

  .page-decor
    transform: scale(.7)

  .breadcrumbs
    margin-bottom: 10px

  .s-text
    padding-bottom: 50px

  .page-title
    font-size: 28px

  .nopage-decor-1
    width: 300px
    height: 300px
    left: -230px
  .nopage-decor-2
    width: 300px
    height: 300px
    right: -195px
    bottom: -190px


  .s-nopage
    h1
      font-size: 200px
      line-height: 180px

  .footer-right
    display: none

  .footer-left
    flex-wrap: wrap
  .footer-wrap
    margin-bottom: 0

  .foot-item
    width: calc(50% - 10px)
    margin-bottom: 20px


  .footer-bottom-line
    .right
      width: 100%
      display: flex
      justify-content: space-between
      margin-bottom: 10px

  .copyright
    width: 50%
    order: 2

  .dev-block
    width: 50%
    text-align: right
    margin-top: 0

  .reviews-slider
    padding: 0

  .catalog-wrap
    grid-row-gap: 70px

  .s-intro
    padding-top: 25px
    padding-bottom: 50px

  .intro-slider
    padding-bottom: 60px
    .owl-dots
      text-align: center
      width: 100%
      button.owl-dot
        margin: 0 7px

  .intro-decor
    &-4
      display: none
    &-2
      display: none

  .intro-slide
    padding: 0
    flex-direction: column
    text-align: center
    .img-responsive
      margin: 0 auto
    &>div
      width: 100%
    &-left
      margin-bottom: 50px
    h1
      font-size: 36px
    &-desc
      font-size: 20px


// ≥480px
+media-breakpoint-down(xs)

  .breadcrumbs
    padding-top: 25px
    margin-bottom: 5px

  .page-title
    font-size: 24px
    margin-bottom: 25px

  .popup-form
    .form-header
      font-size: 24px

  .foot-item
    width: 100%
    text-align: center
    line-height: 1.7
    &-title
      border-bottom:  none
      position: relative
      &:after
        content: ''
        position: absolute
        width: 100px
        height: 1px
        background-color: $text
        bottom: 0
        left: calc(50% - 50px)


  .footer-bottom-line
    .right
      flex-direction: column
      text-align: center
      a
        margin-right: 0
        margin-bottom: 10px

  .copyright, .dev-block
    width: 100%
    text-align: center

  .copyright
    margin-bottom: 10px

  .reviews-slider .slick-dots button
    margin: 0 7px

  form
    h3
      font-size: 24px

  .advantages-items-wrap
    grid-template-columns: repeat(1, 1fr)
    .svg
      width: 60px
    span
      font-size: 16px

  .section-title
    font-size: 28px

  .cat-item
    &-left
      padding-right: 0
    &-title
      font-size: 20px
    &-desc
      font-size: 14px
    .btn
      font-size: 14px
      padding: 14px 14px 12px
      width: 100%

  .intro-slider
    padding-bottom: 30px

  .intro-slide
    h1
      font-size: 24px
    &-desc
      font-size: 16px

  .intro-decor
    &-1
      width: 300px
      height: 300px
    &-3
      width: 350px
      height: 350px
    &-4
      display: block
      top: auto
      bottom: 150px
      right: 100px

  .head-line
    padding: 10px 0
    .logo
      max-width: 120px

  .shop-links-wrapper
    margin-right: 0

  .shop-link
    &-title
      display: none
    &-value
      position: relative
    .svg
      height: 24px
      margin-right: 8px
    &-cart
      margin-left: 15px

@media (max-width: 410px)

  .breadcrumbs
    padding-top: 10px

  .s-nopage
    padding: 50px 15px
    font-size: 14px
    h1
      font-size: 140px
      line-height: 120px

  .nopage-subtitle
    font-size: 18px

  .popup-form
    padding-left: 15px
    padding-right: 15px
    .form-labels-wrap
      width: 100%
    .form-header
      padding-left: 15px
      width: calc(100% + 30px)
      left: -15px
    .btn-wrap
      text-align: center

  .review-slide
    font-size: 14px

  .advantages-form
    text-align: center
    .form-labels-wrap
      width: 100%
      margin-bottom: 20px
    .label-checkbox
      text-align: left
    label
      span
        text-align: left

  .s-catalog
    padding: 20px 0 75px

  .catalog-wrap
    grid-template-columns: repeat(1, 1fr)

  .intro-decor
    &-3
      width: 300px
      height: 300px
    &-4
      width: 150px
      height: 150px

  .mobile-contacts
    .phone
      font-size: 22px
    .recall
      font-size: 16px

  .mm-logo
    width: 150px

  .head-line
    flex-wrap: wrap

  .shop-links-wrapper
    order: 2
    width: 100%
    justify-content: flex-end
    position: relative
    top: -8px


  .shop-link
    font-size: 10px
    .svg
      height: 20px
      margin-right: 6px
    &-cart
      margin-left: 10px

  .hamburger
    padding: 5px 0 5px 5px
    top: 0


/*==========  Mobile First  ==========*/

// ≤480px
+media-breakpoint-up(sm)

// ≤768px
+media-breakpoint-up(md)

// ≤992px
+media-breakpoint-up(lg)

// ≤1200px
+media-breakpoint-up(xl)
